.doc_planner{
    width: 268px;
    height: 33px;
}
.pr{
    display: flex;
    justify-content: space-around;
}
.nav_elem{
    text-decoration: none;
    display:inline-block;
    padding: 5px;
}

li a:link{
    text-decoration: none;
    color: #747474;
}
li a:visited{
  text-decoration: none;
  color: #747474;
}
li a:hover{
    text-decoration: none;
    color: #00b39b;
}
nav ul{
    list-style-type: none;
}
.nav_elem .active{
    text-decoration: none;
    color: #00b39b;
}
/* Dropdown start */
.dropbtn {
    border:none;
    background-color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #747474;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      text-decoration: none;
    color: #00b39b;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Dropdown end */
  /* dropdown2_start */
  .dropdown .btn-primary{
    background-color:#1b2734 ;
    border:#1b2734 ;
    font-size: 1.2em;
  }
  .dropdown .btn-primary:hover{
    background-color:#1b2734 ;
    border:#1b2734 ;
    font-size: 1.2em;
  }
  .dropdown .btn-primary.focus{
    background-color:#1b2734 ;
    border:#1b2734 ;
    font-size: 1.2em;
  }
  /* .dropdown .dropdown-toggle{
    background-color:#1b2734 ;
    border:#1b2734 ;
    font-size: 1.2em;
  } */
  .dropdown .btn-primary.focus, .btn-primary:focus{
    background-color:#1b2734 ;
    border:#1b2734 ;
    font-size: 1.2em;
  }
  /* dropdown2_end */
.im{
  display: flex;
  justify-content: center;
}
::selection {
  color:white;
  background: #00b39b;
}
.col-1{
  width: 28%;
margin-left: 280px;
font-size: 16px;
}
.col-2{
  width: 28%;
margin-left: 70px;
font-size: 16px;
}
.para{
  display: flex;
  flex-direction: row;
  margin-bottom:5em;
}
.col-3{
  width: 22%;
  color: white;
  font-family: "Work Sans",Arial,sans-serif;
  padding: 10px;
  border-radius: 1em;
  margin-right: 50px;
}
.col-3 h2{
  font-size: 1.625em;
  font-weight: 2;
}
.col-3 p{
  font-size: 1.5em;
  font-weight: 1;
  line-height: 1.2;
  letter-spacing: -.3px;
}
.m{
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: 2;
}
.mm{
  margin-top: 120px;
  font-size: 1.5em;
  font-weight: 2;
}
.org{
  display: flex;
  margin-left: 280px;
  
}
.m a:link{
  color: white;
}
.m a:visited{
  color: white;
}
.mm a:link{
  color: white;
}
.mm a:visited{
  color: white;
}
.brands{
  width: 80%;
  margin-left: 280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}
.brands_im{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left:10px;
}
.brands h1{
  font-size: 2em;
}
.effet_im{
  margin-left:30px;
  
}
.effet_im:hover{
  filter: grayscale(100%);
}
.effet_imm{
  margin-left:30px;
}
.effet_imm:hover{
  filter: grayscale(100%);
}
.col-4{
  width: 28%;
margin-left: 530px;
font-size: 16px;
}
.affiches{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 60%;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-left: 280px;
  margin-top: 100px;
}

.last_effect:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  cursor: pointer;
}
.last_effect img{
  border-radius: 4px;
}
.text_container{
  border: black;
  font-size: 1.26em;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:15px;
}
.btn{
  background-color: #3d83df;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
  font-family: Roboto,Arial,sans-serif;
}
.btn:hover{
  color:white;
  background-color: #0348a1;
}/*bug t3 lktiba lka7la !!!!*/